<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Cards Against Humanity</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<link rel="stylesheet" href="/assets/style.css" />

<body data-bs-theme="dark" style="overflow-x: hidden;">
  <nav class="navbar navbar-expand bg-body-tertiary bg-dark">
    <div class="container-fluid" style="height: 25px; overflow-y: hidden;">
      <ul class="navbar-nav nav-pills me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link menubar menubar_left" href="/game/leave">Leave Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link menubar menubar_left" href="/game/start">Start Game</a>
        </li>
      </ul>
      <div class="nav-item">
        <a class="nav-link menubar menubar_right" style="color: #f44444" href="/user/logout">Logout</a>
      </div>
    </div>
  </nav>

  <fieldset>
    <legend>Public Card Sets</legend>
    <%for (cardset of Object.values(locals.cardsets)) { %>
      <span class="nowrap">
        <%console.log([cardset.cardsetUUID, currentGame.cardPacks.indexOf(cardset.cardsetUUID)])%>
        <input type="checkbox" id="<%=cardset.cardsetUUID%>" class="card_set"
          title="<%=cardset.cardsetName%> - <%=cardset.dateMade%>) <%=cardset.blackCards.length%> black cards, <%=cardset.whiteCards.length%> white cards."
          value="<%=cardset.cardsetUUID%>" name="card_set" <%=currentGame.cardPacks.indexOf(cardset.cardsetUUID) == -1 ? '' : 'checked=checked'%>>
        <label for="<%=cardset.cardsetUUID%>"
          title="<%=cardset.cardsetName%> - <%=cardset.dateMade%>) <%=cardset.blackCards.length%> black cards, <%=cardset.whiteCards.length%> white cards."
          class="card_set_label">
          <%=cardset.cardsetName%>
        </label>
      </span>
      <%}%>
  </fieldset>
  <%if (locals.customCardsets) {%>
    <fieldset>
      <legend>Your Card Sets</legend>
      <%for (cardset of Object.values(locals.customCardsets)) { %>
        <span class="nowrap">
          <input type="checkbox" id="<%=cardset.cardsetUUID%>" class="card_set"
            title="<%=cardset.cardsetName%> - <%=cardset.dateMade%>) <%=cardset.blackCards.length%> black cards, <%=cardset.whiteCards.length%> white cards."
            value="<%=cardset.cardsetUUID%>" name="card_set" <%=currentGame.cardPacks.indexOf(cardset.cardsetUUID) == -1 ? '' : 'checked=checked'%>>
          <label for="<%=cardset.cardsetUUID%>"
            title="<%=cardset.cardsetName%> - <%=cardset.dateMade%>) <%=cardset.blackCards.length%> black cards, <%=cardset.whiteCards.length%> white cards."
            class="card_set_label">
            <%=cardset.cardsetName%>
          </label>
        </span>
        <%}%>
    </fieldset>
    <div class="hide">hostUUID <span class="gameHostUUID"><%-currentGame.hostUUID%></span></div>
  <%}%>
  <script>
    fetch('http://localhost:3000/api/users')
    .then(response => response.json())
    .then(data => {
      var user = data.find(function(data) {
          return data.uuid === "<%-currentGame.hostUUID%>";
      });
      if (user) {
        const socket = io("http://localhost:3000/", {
            query: {
                socketId: user.socketID
            }
        })
        // Setup an 'on' event listener for runGameUpdate
        socket.on("runGameUpdate")
        // If runGameUpdate is ran, If the checkboxes are visible. If the checkbox id is included in the <%currentGame.cardPacks%> then check the box.
        // If runGameUpdate is ran check for new players leaving or joining



      }
    })
  </script>
</body>