<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Cards Against Humanity</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<link rel="stylesheet" href="/assets/style.css" />

<div id="error-modal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <p>An error occurred:</p>
        <p id="error-message"></p>
    </div>
</div>
<% if (locals.error) { %>
<script>
    handleError('<%= locals.error %>');
</script>
<% } %>
<div class="row" style="width:101.9%">
<script src="../game.js"></script>


<body data-bs-theme="dark" style="overflow-x: hidden;">
    <nav class="navbar navbar-expand bg-body-tertiary bg-dark">
        <div class="container-fluid" style="height: 25px; overflow-y: hidden">
          <ul class="navbar-nav nav-pills me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link menubar menubar_left" href="/game/create">Create Game</a>
            </li>
            <li class="nav-item">
              <a class="nav-link menubar menubar_left" href="/game/refresh">Refresh Games</a>
            </li>
  
            <div>
              <script>
                async function onInputHandler(e) {
                  try {
                    const response = await fetch("http://localhost:3000/api/games");
                    const gameArray = await response.json();
                    console.log(gameArray);
                    document.querySelectorAll('.gamelist_lobby').forEach(el => el.classList.add("hide"));
                    let filteredItems = gameArray.filter((item) => `${item.players.join(", ")} ${item.cardPacks.join(", ")}`.toLowerCase().includes(e.value.toLowerCase()));
                    console.log(filteredItems)
                    filteredItems.forEach((a) => {
                      const element = document.getElementById(`gamelist_lobby_${a.gameUUID}`);
                      if (element) {
                        element.classList.remove("hide");
                      }
                    });
                  } catch (error) {
                    console.error("Error: ", error);
                  }
                }
              </script>
              <input
                type="text"
                class="form-control bg-dark"
                id="searchInput"
                oninput="onInputHandler(this)"
                placeholder="Filter games by keyword"
              />
            </div>
          </ul>
          <div class="nav-item">
            <a
              class="nav-link menubar menubar_right"
              style="color: #f44444"
              href="/user/logout"
              >Logout</a
            >
          </div>
        </div>
      </nav>
    <div id="row gamelist_row">
        <%for (game of JSON.parse(locals.gameArray)) { %>
            <div id="gamelist_lobby_<%=game.gameUUID%>" class="gamelist_lobby" style="align-items: center;" tabindex="0">
                <div class="gamelist_lobby_left">
                <h3 style="color:black;">
                    <strong>
                        <span class="gamelist_lobby_host"><%-game.host%></span>'s Game 
                        (<span class="gamelist_lobby_player_count"><%-game.players.length%></span>/<span class="gamelist_lobby_max_players"><%-game.maxPlayers%></span>,
                        <span class="gamelist_lobby_spectator_count"><%-game.spectators.length%></span>/<span class="gamelist_lobby_max_spectators"><%-game.maxSpectators%></span>)
                    </strong>
                    <span class="gamelist_lobby_status" <%= game.progress === "Not Started" ? 'style=color:red' : 'style=color:green' %> ><%-game.progress%></span>
                </h3>
                <div>
                    <strong>Players:</strong>
                    <span class="gamelist_lobby_players"><%-game.players.length > 0 ? game.players.join(", ") : "None"%></span>
                </div>
                <div>
                    <strong>Spectators:</strong>
                    <span class="gamelist_lobby_spectators"><%-game.spectators.length > 0 ? game.spectators.join(", ") : "None"%></span>
                </div>
                <div>
                    <strong>Goal:</strong> <span class="gamelist_lobby_goal"><%-game.goal%></span>
                </div>
                <div>
                    <strong>Cards:</strong>
                    <span class="gamelist_lobby_cardset"><%-game.cardPacks.join(", ") %></span>
                </div>
                <div class="hide">Game <span class="gamelist_lobby_id"><%-game.gameUUID%></span></div>
                </div>
                <div class="gamelist_lobby_right">
                    <form class="gamelist_lobby_join_form" action="/game/join/<%= game.password ? 'locked' : 'normal'; %>?gameUUID=<%= game.gameUUID %>" method="post">
                        <input type="submit" class="gamelist_lobby_join"  value="<%= game.password ? 'Join (Locked)' : 'Join' %>"  <%= game.players.length >= game.maxPlayers ? "disabled" : "" %> onclick="onClickHandler(event)"/>
                    </form>
                    <form class="gamelist_lobby_spectate_form" action="/game/join/spectate?gameUUID=<%=game.gameUUID %>" method="post">
                        <input type="submit" class="gamelist_lobby_spectate"  value="Spectate"  <%= game.spectators.length >= game.maxSpectators || game.password ? "disabled" : "" %> onclick="onClickHandler(event)"/>
                    </form>
                </div>
                <script>
                    function onClickHandler(e) {
                        e.preventDefault();
                        console.log(e) 
                        if (e.target.form.action.includes("/game/join/locked")) {
                            var password = prompt("Please enter the password to join the game:");
                            if (password === "password") {
                                // the post request
                                e.target.form.submit();
                            } else {
                                alert("Incorrect password, please try again.");
                                // Later on replace the alert function to send an error within the chat system.
                            }
                        } else {
                          e.target.form.submit();
                        }
                    }
                  </script>
            </div>
        <% }%>
    </div>
</body>